.flipCard {
  background-color: transparent;
  width: 350px;
  height: 350px;
  perspective: 1000px;
  font-family: sans-serif;
}
.flipCardInner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.flipCard:hover .flipCardInner,
.flipCardBack {
  transform: rotateY(180deg);
}
.flipCardBack,
.flipCardFront {
  box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 1rem;
}
.flipCardFront {
  background: linear-gradient(
    120deg,
    rgba(69, 112, 255, 0.247) 60%,
    rgba(73, 76, 255, 0.24) 88%,
    rgba(57, 165, 253, 0.445) 40%,
    rgba(0, 140, 158, 0.349) 48%
  );
  font-weight: 800;
}
.flipCardBack {
  background: linear-gradient(
    120deg,
    rgba(255, 181, 69, 0.596) 60%,
    rgba(255, 237, 73, 0.445) 88%,
    rgba(253, 145, 57, 0.575) 40%,
    rgba(158, 134, 0, 0.452) 48%
  );
  width: 100%;
}
