@tailwind base;
@tailwind components;
@tailwind utilities;

.blurBackground {
  background-color: rgba(0, 0, 0, 0.747);
  backdrop-filter: blur(1px);
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 170px;
  background-color: rgb(0, 116, 211);
  font-size: small;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -5px;
  right: 110%;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent rgb(0, 116, 211);
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* For Webkit browsers */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #be8d1a;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Swiper Slider Styles  */
.swiper {
  width: 340px;
  height: 340px;
}

@media screen and (max-width: 480px) {
  .swiper {
    width: 200px;
    height: 240px;
  }
}
@media screen and (max-width: 320px) {
  .swiper {
    width: 180px;
    height: 220px;
  }
}
.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
}
